In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
df = pd.read_csv("Property_Pricing.csv")
df.head()

,Unnamed: 0,Address,AreaName,Price ($),lat,lng
0,0,"86 Waterford Dr Toronto, ON",Richview,999888,43.679882,-79.544266
1,1,"#80 - 100 BEDDOE DR Hamilton, ON",Chedoke Park B,399900,43.250000,-79.904396
2,2,"213 Bowman Street Hamilton, ON",Ainslie Wood East,479000,43.251690,-79.919357
3,3,"102 NEIL Avenue Hamilton, ON",Greenford,285900,43.227161,-79.767403
4,6,"#1409 - 230 King St Toronto, ON",Downtown,362000,43.651478,-79.368118

In [3]:
df.drop(df[df['Price ($)'] == 0].index, inplace=True)
df.drop(df.columns[[0,1]], axis=1, inplace=True)

In [4]:
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
address = 'Toronto, CA'

geolocator = Nominatim(user_agent="to_explorer")
location = geolocator.geocode(address)
toto_latitude = location.latitude
toto_longitude = location.longitude
print('The geograpical coordinate of Toronto are {}, {}.'.format(toto_latitude, toto_longitude))

The geograpical coordinate of Toronto are 43.653963, -79.387207.

In [5]:
df.drop(df[(abs(df['lat'] - toto_latitude) > 0.3) | (abs(df['lng'] - toto_longitude) > 0.3)].index,inplace=True)

In [6]:
df.reset_index(drop=True,inplace=True)
print(df.shape)
df.describe()

(7018, 4)

          Price ($)          lat          lng
count  7.018000e+03  7018.000000  7018.000000
mean   7.915627e+05    43.704502   -79.437782
std    1.117486e+06     0.093307     0.127410
min    1.000000e+00    43.427311   -79.687149
25%    3.199000e+05    43.641918   -79.528358
50%    4.864450e+05    43.698019   -79.413765
75%    7.999000e+05    43.773346   -79.370252
max    2.680000e+07    43.953888   -79.088547

## Assuming the prices that are below 100,000 are either error or a property type that is not suitable for restaurant, we remove these data points

In [7]:
df.drop(df[df['Price ($)']<100000].index,inplace=True)
df.reset_index(drop=True,inplace=True)
df.shape

(6575, 4)

In [8]:
import seaborn as sns
sns.boxplot(x=df['Price ($)'])

## removing outliers using interquartile formula

In [9]:
Q1 = df['Price ($)'].quantile(0.25)
Q3 = df['Price ($)'].quantile(0.75)
IQR = Q3 - Q1

filter = (df['Price ($)'] >= Q1 - 1.5 * IQR) & (df['Price ($)'] <= Q3 + 1.5 *IQR)
df_final = df.loc[filter]

In [10]:
df_final.reset_index(drop=True).to_csv('Property_Pricing_CLEANED.csv')